@model HapoelHealthServices.Models.Perscription

@{
    ViewBag.Title = "CreateFroPermanentDrugs";
}

<h2>Create Perscription For Permanent Drug</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Perscription</legend>

        <span>@Html.ValidationMessage("dateError")</span>
        <br />
        <div class="editor-label">
             @Html.DisplayNameFor(model => model.patientID)
        </div>
        <div class="editor-label">
            @ViewBag.patientID
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.therapistID)
        </div>
        <div class="editor-label">
            @ViewBag.therapistID
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.drug_ID)
        </div>
        <div class="editor-label">
            @ViewBag.drug_ID
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-label">
            @ViewBag.date
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.expiration_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.expiration_date)
            @Html.ValidationMessageFor(model => model.expiration_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dosage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dosage)
            @Html.ValidationMessageFor(model => model.dosage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.was_printed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.was_printed)
            @Html.ValidationMessageFor(model => model.was_printed)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
