@model IEnumerable<HapoelHealthServices.Models.PatientPermanentDrugs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            PatientID
        </th>
        <th></th>
        <th>
            Drug_name
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.Drugs.drug_name)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.start_date)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.end_date)
        </td>
        <td></td>
    </tr>
}

</table>
